@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-y: hidden;
	background-color: #fff;
}

/* Header  */
.header {
	grid-area: header;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px 0 50px;
  }
  
  .icon {
	vertical-align: middle;
	line-height: 1px;
	font-size: 30px;
	color: #fff;
	padding: 2px;
  }
  
  .menu-icon {
	display: none;
  }
  
  .header-right {
	display: flex;
  }
  /* End Header  */

  /* sidebar */

  .menu {
	color:#374151;
	width: 10%;
	min-height: 100vh;
  }

  .sidebar-list {
	display: flex;
	flex-direction: column;
	margin-left: 35px;

  }

	.sidebar-list-item {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		gap: 10px;
		width: 100%;
		height: 50px;
		font-weight: bold;
	}

	.sidebar-list-item  a {
		color:#374151;		
		text-decoration: none;
	}
	
	.sidebar-list-item a:active {
		color: #0ea5e9;
	}



  /* sidebar */

  /* pagination */

  
  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	text-align: center;
    margin-top: 1rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: black;
    /* border: 1px solid black; */
}

.pagination li {
	list-style: none;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

.pagination a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	margin-top: 5px;
}
.pagination button.active {
    font-weight: 900;
    background: #ffe400;
    color: #101010;
}

  /* transactions */
  .underline-custom {
	border-bottom: 2px solid #4299e1; 
  	padding-bottom: 2px

  }

@layer base {
	html {
		font-family: 'Inter', sans-serif;
		line-height: 1.3;
	}
	table {
	}
	th,
	td {
		@apply py-3 px-2.5 text-sm text-left border-y ;
	}
	thead {
		@apply bg-neutral-100;
	}
	th {
		@apply font-semibold;
	}
	a {
		@apply text-sky-500 hover:underline;
	}
}

@layer base {
	ul {
		list-style: revert;
	}
}



